/* Variables de couleurs */
:root {
    --primary-color: #005a8d;
    --primary-hover-color: #003f64;
    --secondary-color: #f4f4f4;
    --text-color: #333;
    --white-color: #fff;
    --danger-color: #d9534f;
    --danger-hover-color: #c9302c;
    --border-color: #ccc;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Style global */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}

h1, h2, h3, h4 {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

/* Header */
header {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 20px;
    text-align: center;
}

/* Main content */
main {
    padding: 20px;
}

.section {
    background-color: var(--white-color);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px var(--shadow-color);
}

/* Boutons */
.btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--primary-hover-color);
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* Formulaire d'administration */
.admin-form input,
.admin-form select,
.admin-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.admin-form button {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.admin-form button:hover {
    background-color: var(--primary-hover-color);
}

/* Liste d'éléments */
.list-item {
    padding: 10px;
    background-color: var(--secondary-color);
    margin-bottom: 15px;
    border-radius: 5px;
}

.list-item button {
    background-color: var(--danger-color);
    border-radius: 5px;
    color: var(--white-color);
    padding: 5px 10px;
}

.list-item button:hover {
    background-color: var(--danger-hover-color);
}

